:local(.movie) {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
  background: #eee;
  width: 250px;
  height: 350px;
  border-radius: 5px;

  img {
    width: 70%;
    height: auto;
  }
}