:local(.books) {

  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 50px;
  
  h1 {
    text-shadow: 2px 2px #000000;
  }
  
  li {
    text-align: center;
  }

  p {
    margin-bottom: 1px;
  }

  a {
    color: rgb(62, 83, 175);
  }

  a:hover {
    color: blue;
  }

  a:active {
    color: yellow;
  }

  button:hover {
    cursor: pointer;
  }

  .title {
    color: rgb(62, 83, 175);
  }

  .title:hover {
    color: blue;
  }
  
  .no-image {
    object-fit: contain;
    width: 175px;
  }

  
}
