:local(.bookDetail) {

  display: flex;

  #image-div {
    display: inline-block;
    margin-right: 30px;
  }

  button:hover {
    cursor: pointer;
  }

  .fav-button {
    margin-bottom: 4px;
  }
}
