:local(.books) {

  .item-a {
    grid-area: title;
  }

  .item-b {
    grid-area: author;
  }
  .item-c {
    grid-area: img;
  }
  .item-d {
    grid-area: detail;
  }

  h1 {
    text-shadow: 2px 2px #000000;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  li {
    width: 20%;
    text-align: center;
    // display: grid;
    // grid-template-columns: 100%;
    // grid-template-rows: 10% 10% 60% 20%;
    // grid-template-areas: 
    //   "title"
    //   "author"
    //   "img"
    //   "detail";
  }

}