:local(.app) {

  h1 {
    text-shadow: 2px 2px #000000;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
  }

  .notifications {
    position: absolute;
    display: flex;
    top: 0;
    left: 5px;
    right: 5px;
    bottom: 0;
    opacity: .5;
    background: black;
    color: white;
    align-items: center;
    justify-content: center;
    
    * {
      margin: 5px 10px;
    }
  }

}