:local(.app) {
  header {
    color: rgb(93, 0, 255);
  }

  .notifications {
    position: absolute;
    background: rgba(58, 7, 72, 0.483);
    color: yellow;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}