:local(.header) {

  display: flex;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  align-items: center;

  #nav-ul {
    list-style: none;
    display: flex;
    padding-top: 5px;
  }

  li {
    padding-right: 10px;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
  }

  a:hover {
    color: yellow;
  }

  a:active {
    color: rgb(62, 83, 175);
  }

}